In [1]:
[(a,b)for a in range(1,5) for b in range(11,13)]

[(1, 11), (1, 12), (2, 11), (2, 12), (3, 11), (3, 12), (4, 11), (4, 12)]

In [2]:
tupleList = []
for a in range(1,5):
    for b in range(11,13):
        tupleList.append((a,b))
tupleList

[(1, 11), (1, 12), (2, 11), (2, 12), (3, 11), (3, 12), (4, 11), (4, 12)]

In [6]:
tuplee = []
for a in range(1,100):
    for b in range(20,200):
        if a**a == b:
            tuplee.append(b)
tuplee

[27]

# Set

In [7]:
aset = {2,3,4,5,5,5,5,6,6,6,2,2,2,7,7,7}

In [8]:
aset

{2, 3, 4, 5, 6, 7}

In [17]:
alist = [2,3,4,5,5,5,5,6,6,6,2,2,2,7,7,7]
blist = []
for i in alist:
    if i not in blist:
        blist.append(i)

In [18]:
blist

[2, 3, 4, 5, 6, 7]

In [22]:
alist=[2,3,4,5,5,5,5,6,6,6,2,2,2,7,7,7]
blist = [] 
[blist.append(i) for i in alist if i not in blist]

[None, None, None, None, None, None]

In [23]:
alist

[2, 3, 4, 5, 5, 5, 5, 6, 6, 6, 2, 2, 2, 7, 7, 7]

In [24]:
aset = set(alist)

In [25]:
aset

{2, 3, 4, 5, 6, 7}

In [26]:
aset.difference()

{2, 3, 4, 5, 6, 7}

In [27]:
aset

{2, 3, 4, 5, 6, 7}

In [28]:
bset = {2,3,10,11,14,6,7}

In [31]:
diff = bset.difference(aset)

In [32]:
diff

{10, 11, 14}

In [36]:
aset

{4, 5}

In [37]:
bset

{2, 3, 6, 7, 10, 11, 14}

In [44]:
aset.add({2,5,9,21,341,41,51})

TypeError: unhashable type: 'set'

In [43]:
aset

{2, 4, 5, 10}

# Dictionary

In [1]:
adic = {23}
bdic = {}

In [2]:
type(adic), type(bdic)

(set, dict)

In [4]:
dic = {'name':'Sohaib', 'age':'22', 'Qual':'BS', 'exp': 1}

In [5]:
dic

{'name': 'Sohaib', 'age': '200', 'Qual': 'BS', 'exp': 1}

In [6]:
dic['name']

'Sohaib'

In [7]:
dic['name']='Sohaibb'

In [8]:
dic

{'name': 'Sohaibb', 'age': '200', 'Qual': 'BS', 'exp': 1}

In [9]:
del dic['Qual']

In [14]:
dic

{'name': 'Sohaibb', 'age': '200', 'exp': 1}

In [23]:
for k,v in dic.items():
    print(k,v)

name Sohaibb
age 200
exp 1

In [25]:
for index,value in enumerate('Pakistan'):
    print(index,value)

0 P
1 a
2 k
3 i
4 s
5 t
6 a
7 n

# Dictionary Comprehenson

In [1]:
prices_in_rs = {'milk':120, 'coffee':150, 'bread':50}

In [4]:
dollar = 165
newpriceindollar = {key:value/dollar for key,value in prices_in_rs.items()}

In [9]:
print(newpriceindollar)

{'milk': 0.7272727272727273, 'coffee': 0.9090909090909091, 'bread': 0.30303030303030304}